node_modules
.turbo
.next
dist
build
coverage
.pnpm-store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
infra/docker/.env.dev
infra/docker/.env.prod
apps/web/.next
apps/web/out
apps/cms/.payload
apps/cms/.cache
infra/caddy/data
infra/caddy/config
*.log
